<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>AUI快速完成布局</title>
    <link rel="stylesheet" type="text/css" href="../../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/icons/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/public.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/aui-slide.css" />
	<style>
	 html{background:#313131}
      .cate-list .cate-item{

	  }
	  .aui-info{
	  padding:0;
	  }
	  .svg-icon{
	  width:1.2rem !important;
	  }
    .icon{
      font-size: 1rem !important;
    }
	</style>
</head>
<body style="background:#313131" >
 <div id="app" >



   <section class="aui-content   aui-padded-15 aui-padded-b-0" style=" background: #9263c3; border-radius: 0 0 2rem 2rem; " >



              <div class="  aui-row   vip-bg aui-margin-t-15" style="    width: 90%;    margin-left: 5%;">


        <div class="aui-padded-15 " >
         <div class=" aui-padded-5 aui-row">
          <div class="aui-col-xs-4">
            <!-- <img src="../../../image/avater/head-pic.png" class="aui-img-round w-80"   > -->
            <img :src="userInfo.avatarUrl" class="aui-img-round w-80"  v-if="userInfo.avatarUrl!=''" >
            <img src="../../../image/avater/head-pic.png" class="aui-img-round w-80"  v-else >
          </div>
         <div class="aui-col-xs-8 black-font ">
            <div class="  aui-padded-l-5  ">
                      <div class=" aui-padded-0   aui-font-size-16 aui-ellipsis-1">
                         {{userInfo.nickName}}
                      </div>
           <div class="aui-font-size-12 font-bold"  >
                         <div style="display: flex;color: #313131 !important;height: 1.5rem;">
             <i class="icon iconfont iconoutline-phone_android-px" style=" font-size: 1rem !important;"></i>

             <div style="line-height: 1.5rem;height: 1.5rem;" class="  aui-padded-l-5  ">{{userInfo.mobile}}</div>
             </div>
                      </div>
                      <div class=" aui-font-size-12 aui-ellipsis-1 font-black ">
                          Suscripción Anual
                      </div>
                      <div class=" aui-font-size-12 aui-ellipsis-1  " v-if="userInfo.is_vip==1">
                          Activo (vence {{userInfo.vip_card_end_time.time1}})
                      </div>
                      <div class=" aui-font-size-12 aui-ellipsis-1  " v-else>
                          Inactive
                      </div>
                      </div>
          </div>

                  </div>




              </div>




    </section>

     <section class="aui-content   aui-padded-t-0 aui-padded-b-0 aui-margin-b-15 aui-margin-t-15"  >
	     <div class="aui-margin-b-15 aui-padded-l-15 aui-padded-r-15 aui-font-size-12 "  >
                <div class="  aui-row-padded goods_list_row">




					<div class="info_item aui-margin-b-10" >
					 <div class="  aui-row">
					  <div class="aui-col-xs-6  "  v-for="(vo,index) in vip_card_list">
					 	  <div class="goods-content  aui-padded-10 " :class="{'lv-border':vip_card_index==index}" style="margin-right:0.375rem;background:#e4e4e4;    border: 0.2rem solid;"  @click="selectVip(index)">
                    <div class=" aui-padded-0   aui-font-size-20  font-black ">
                        {{vo.name}}
                    </div>

                    <div class=" aui-font-size-12 aui-ellipsis-2  ">
                        {{vo.short_desc}}
                    </div>
                    <div class="aui-info aui-margin-t-15 " >
                      <div class="aui-info-item">
                        <!-- <span class="icon iconfont lv-font aui-font-size-20 aui-margin-r-15"  ></span> -->
                        <span class="icon iconfont lv-font aui-font-size-20 aui-margin-r-15" v-if="vip_card_index==index"></span>
          				     <span class="icon iconfont iconoutline-radio_button_px aui-font-size-20 aui-margin-r-15" v-else></span>

					              <span class="  font-bold aui-font-size-20 font-black black-font"> ${{vo.price}}</span>
                      </div>
                  </div>
						  </div>
					</div>

					 <!-- <div class="aui-col-xs-6  ">
					 	  <div class="goods-content  aui-padded-10 lv-border " style="margin-right:0.375rem;background:#e4e4e4;    border: 0.2rem solid;" >

                        <div class=" aui-padded-0   aui-font-size-20  font-black ">
                           V.I.P. 90
                        </div>

                        <div class=" aui-font-size-12 aui-ellipsis-2  ">
                            Suscripción por 90 días Renovación automática
                        </div>
                          <div class="aui-info aui-margin-t-15 " >
				     <div class="aui-info-item">

                         <span class="icon iconfont lv-font aui-font-size-20 aui-margin-r-15"  ></span>


					   <span class="  font-bold aui-font-size-20 font-black black-font"> $299,00</span>
				     </div>
        			</div>


						  </div>
					  </div> -->

                    </div>
                    </div>



                </div>

				   <div class="goods_col_item" >
					 <div class="goods-content aui-padded-15  aui-padded-t-5 aui-padded-b-5  ">

					 <div class="aui-row aui-padded-b-5">
					 <div class="aui-col-xs-6 ">
					   <div class="  aui-padded-t-5  aui-padded-l-5  ">
                        <div class=" cart-title aui-ellipsis-1 aui-font-size-16 font-black ">
                           Metodo de Pago
                        </div>

                        </div>
					 </div>
					 <div class="aui-col-xs-5  ">
					 	  <div class=" aui-padded-l-10 aui-padded-t-10">
                        <div class=" cart-title aui-ellipsis-2 aui-font-size-14 font-bold  ">
                         <!-- VISA  ••••  9031 -->
                         {{pay_name}}
                        </div>
                        </div>
					  </div>
					 <div class="aui-col-xs-1  ">
					     <div class="  aui-padded-t-5  aui-padded-l-5  " @click="select_paymethod()">
                        <div class="  text-center">
                           <span class="icon iconfont aui-font-size-20"  ></span>
                        </div>
                        </div>

					  </div>
					  </div>

					  <div class="m-list" v-bind:class="{ 'aui-hide': open_paymethod==0 }">
					 	  <div   class="m-t method-item">

						  <div class="aui-info aui-padded-5  aui-padded-l-0 aui-padded-r-10" v-for="(vo,index) in cardlist">
				     <div class="aui-info-item">

              <span class="icon iconfont lv-font aui-font-size-20 aui-margin-r-15" v-if="card_index==index"></span>
				     <span class="icon iconfont iconoutline-radio_button_px aui-font-size-20 aui-margin-r-15"  @click="selectPay(index)" v-else></span>
				     <span   class="icon iconfont iconround-credit_card-px aui-font-size-20 aui-margin-l-15 aui-margin-r-15"></span>
					   <span class="aui-margin-l-15 font-bold aui-font-size-14">{{vo.payment_method.name}}  ••••      {{vo.last_four_digits}}</span>
				     </div>
        			</div>


						  </div>
					 	  <div   class="m-t method-item">
					 	  <div class="aui-padded-5  aui-padded-l-0 aui-padded-r-10">

           				     <div class="aui-btn font-bold black-font text-center w-100" style=" background: white;    " tapmode onclick="add_new_card()">+ Añadir nueva tarjeta</div>
        			</div>

                     </div>




                     </div>
                     </div>

                    </div>


				<div class="  aui-row aui-margin-t-15">

					 <div class="aui-col-xs-12   " v-if="order_id>0">
              	  <div class="aui-btn add_cart " style=" height: 1.8rem; line-height: 1.8rem;background:#d43030 !important; "  v-if="lock>0">Confirmar suscripción</div>
					 	      <div class="aui-btn add_cart  pink-bg" style=" height: 1.8rem; line-height: 1.8rem;background:#ab76e2 !important; " onclick="input_cvv()" v-else>Confirmar suscripción</div>
            </div>
            <div class="aui-col-xs-12   " v-else>
                   <div class="aui-btn add_cart " style=" height: 1.8rem; line-height: 1.8rem;background:#d43030 !important; "  v-if="lock>0">Confirmar suscripción</div>
                   <div class="aui-btn add_cart  pink-bg" style=" height: 1.8rem; line-height: 1.8rem;background:#ab76e2 !important; " @click="order_create()" v-else>Confirmar suscripción</div>

             </div>


                    </div>
        </div>
	</section>

     </div>




</body>
<script type="text/javascript" src="../../../script/api.js" ></script>

<script type="text/javascript" src="../../../script/T.js"></script>
<script type="text/javascript" src="../../../script/iScroll-lite.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript">

var deviceid;
var vm = new Vue({
    el: '#app',
    data: {
	    cardlist:[],
       default_card:[],
       default_card_id:'',
       card_index:0,
       card_id:-1,
       customers_id:'',
       payment_methods_info:'',
       open_paymethod:0,
       pay_name:'没信用卡',
       card_token:'',
       installments_index:0,
       installments:1,
       installments_list:[],
       installments_select:'',
	     open_installment:0,
	     vip_card_index:0,
       vip_card_id:0,
	     vip_card_list:[],
	     pay_price:0,
       vip_info:[],
       order_id:0,
       lock:0,
       userInfo:[],

    },
  methods: {
	  init:function(){
		    console.log(api.getPrefs({sync: true,key:'login_id'}));
        vm.lock=0;
        vm.card_token='';
        cvv='';
        // to_loading();
        vm.get_user_info();
        vm.get_creditcard_list();
        vm.send_need_info();
        vm.get_vipcard_list();
	  },
    get_user_info:function(){

            api.ajax({
                url: user_center_url,
                method: 'post',
                data: {
                  values:{  token: api.getPrefs({sync: true,key:'login_id'})}
                }
            },function(ret, err){
              vm.userInfo=ret.data.userInfo;
            }
          );

    },
      //会员卡列表
    get_vipcard_list:function(){
           api.ajax({
               url: vip_list_url,
               method: 'get',
               data: {
                 values:{token: api.getPrefs({sync: true,key:'login_id'})}
               }
           },function(ret, err){

             if(ret){

             if(ret.code==1){
               vm.vip_card_list=ret.data.list.data;
               vm.vip_info=ret.data.vip_info;
               vm.vip_card_id=vm.vip_card_list[0]['id'];
               vm.pay_price=vm.vip_card_list[0]['price'];
             }
             }else{
             }
           })
		 },
    selectVip:function(index){
      if(vm.vip_card_index!=index){
        vm.order_id=0;
        vm.vip_card_index=index;
        vm.vip_card_id=vm.vip_card_list[index].id;
      }
    },
     //信用卡列表
	  get_creditcard_list:function(){
         api.sendEvent({
               name: 'say_status_loading',
               extra:{
                 status:'信用卡加载中',
                 code:1,
               }
             });
         vm.default_card=[];
         var mcustomer_id=api.getPrefs({sync: true,key:'mcustomer_id_'+Is_debug});
         if(!mcustomer_id){
           api.ajax({
               url: get_customerID_url,
               method: 'get',
               data: {
                 values:{token: api.getPrefs({sync: true,key:'login_id'})}
               }
           },function(ret, err){

             if(ret){

            // console.log(JSON.stringify(ret));
             if(ret.code==1){
               api.setPrefs({ key: 'mcustomer_id_'+Is_debug,value: ret.data.customer_id });
               vm.customer_id=ret.data.customer_id;
               vm.search_coustom(ret.data.customer_id);
             }
             }else{
             }
           })
         }else{
           vm.customer_id=mcustomer_id;
           vm.search_coustom(mcustomer_id);
         }
        //  this.active_token();
       },
       //信用卡用户
    search_coustom:function(customer_id) {
           console.log('信用卡加载中');
          api.ajax({
              url: customers_search_url,
              method: 'get',
              data: {
                values:{id: customer_id,access_token:access_token}
              }
          },function(ret, err){
            // console.log('22');
            api.sendEvent({
                  name: 'say_status_loading',
                  extra:{
                    status:'信用卡加载成功',
                    code:0,
                  }
                });
            if(ret){
              console.log('信用卡加载好');
            if(ret.results){

             console.log(JSON.stringify(ret.results[0].cards));
              vm.cardlist=ret.results[0].cards;
		      	  vm.card_id= ret.results[0].default_card;

            }
            // vm.identification_list=ret;
            }else{

            }
          })
       },
    select_paymethod:function(){
        if(vm.open_paymethod==1){
          vm.open_paymethod=0;
        }else{
          vm.open_paymethod=1;
        }
      },
    selectPay:function(index){
        //  -1 余额支付 -2 现金支付
         vm.card_index=index;
         vm.open_paymethod=0;
         vm.card_id=vm.cardlist[index].id;

       },
    select_installment:function(){
        if(vm.open_installment==1){
          vm.open_installment=0;
        }else{
          vm.open_installment=1;
        }
      },
    get_installments:function(){
        console.log('分期加载');
         if(vm.pay_price!=0){
            console.log('get_installments');
            var bin;
            for(var i=0;i<vm.cardlist.length;i++){
              if(vm.cardlist[i]['id']==vm.card_id){
              bin=vm.cardlist[i].first_six_digits;
               console.log(JSON.stringify(bin));
              }
            }

           api.ajax({
               url: get_installments_url,
               method: 'get',
               data: {
                 values:{public_key: public_key,amount:vm.pay_price,bin:bin}
               }
           },function(ret, err){
              console.log('分期加载');
              console.log(vm.pay_price);
              console.log(JSON.stringify(err))
             if(ret){
              //  console.log(JSON.stringify(ret[0].payer_costs))
               vm.installments_list=ret[0].payer_costs;

               if(ret[0].payer_costs.length>0){
                vm.installments=ret[0].payer_costs[0]['installments'];
                vm.installments_select=ret[0].payer_costs[0]['recommended_message'];
               }


             }
           });
         }


       },
    send_need_info:function() {
      console.log(vm.pay_price);
        api.sendEvent({
            name: 'update_vip',
            extra: {
              pay_price: vm.pay_price,
              vip_card_id:vm.vip_card_id,
              card_id:vm.card_id,
              installments:vm.installments,
            }
        });
    },
    //下单涉及的函数
    order_create: function () {
        console.log(vm.vip_card_id);
        console.log(vm.card_id);
           vm.lock=1;
           if(!vm.vip_card_id){
               api.alert({
                   title: '下单操作',
                   msg: '请选择会员卡',
               }, function(ret, err) {
            });
          return false;
        };
        if(vm.card_id==0){
          api.alert({
             title: '下单操作',
             msg: '请输选择有效的卡片',
           }, function(ret, err) {
        });
        return false;
      };
      api.ajax({
          url: buy_vip_submit_url,
          method: 'post',
          timeout: 30,
          dataType: 'json',
          returnAll: false,
          data: {
            values: {
              token: api.getPrefs({sync: true,key:'login_id'}),
              vip_card_id: vm.vip_card_id,
              credit_card_id: vm.card_id,
          }
        }
      }, function (ret, err) {
            console.log(JSON.stringify(err));
        if (ret) {
          console.log(JSON.stringify(ret));
          if(ret.code == 1){
            if(vm.card_id>0){
                vm.order_id=ret.data.order_id;
                input_cvv();
              }
            }else{
              api.alert({
                title: 'Warning',
                msg: ret.msg,
                buttons:'Confirmar'
              })
            }
          } else {
              api.alert(JSON.stringify(err));
          }
      });
    },
    get_token:function(flag){
      api.ajax({
          url: card_tokens_url+'?public_key='+public_key,
          method: 'post',
        },function(ret, err){
          if(ret){
          console.log(JSON.stringify(ret));
          vm.card_token=ret.id;
          if(flag==1){
            console.log(flag);
            api.sendEvent({
              name: 'say_status_loading',
              extra:{
                status:'Iniciar una solicitud de pago',
                code:1,
              }
            });
            vm.go_Pay();
          }
        }
      })
    },
    go_Pay:function() {
       to_loading();
       if(vm.card_token!=''){
       console.log(vip_pay_url);
       console.log(vm.card_token);
       console.log(vm.card_id);
       console.log(cvv);
         api.ajax({
           url: vip_pay_url,
           method: 'post',
           data: {
             values:{
               token:api.getPrefs({sync: true,key:'login_id'}),
               device_id:deviceid,
               card_token:vm.card_token,
               card_id:vm.card_id,
               installments:vm.installments,
               security_code:cvv,
               order_id:vm.order_id
             }
           }
       },function(ret, err){
           console.log(JSON.stringify(ret));
         console.log(JSON.stringify(err));
         if(ret){
         console.log(JSON.stringify(ret));
         if(ret.code==1){
          //  vm.search_Pay(ret.data);
           api.sendEvent({
                 name: 'say_status_loading',
                 extra:{
                   status:ret.msg,
                   code:1,
                 }
               });
               api.sendEvent({
                     name: 'flush'
              });
             open_vip_center();
         }else{
           api.sendEvent({
                 name: 'say_status_loading',
                 extra:{
                   status:ret.msg,
                   code:0,
                   flag:1,
                 }
               });
         }

         }
         if(err){
           if(err['code']==1){
             time=time+1;
             if(time<3){
               api.sendEvent({
                     name: 'say_status_loading',
                     extra:{
                       status:'第'+time+'次重新发起支付请求',
                       code:1,
                     }
                   });
                 vm.go_Pay();
              }else {
                api.sendEvent({
                     name: 'say_status_loading',
                     extra:{
                       status:'高峰期请晚点充值',
                       code:0,
                     }
                });
              }
            }
          }
         })
        }else {
         vm.get_token(1);
       }
    },
    search_Pay:function(mergo_order_id) {
       console.log('search_Pay');
       api.sendEvent({
           name: 'say_status_loading',
           extra:{
             status:'search_Pay',
             code:1,
           }
         });
       api.ajax({
          url: searchPaystatus_url,
          method: 'post',
          data: {
            values:{
              id:mergo_order_id,
            }
          }
          },function(ret, err){
           if(ret){
             console.log(ret.code);
             if(ret.code==1){
               api.sendEvent({
                 name: 'say_status_loading',
                 extra:{
                   status:ret.msg,
                   code:1,
                 }
               });
               closeWin();
              // open_vip_center();
             }else{
               api.sendEvent({
                 name: 'say_status_loading',
                 extra:{
                   status:ret.msg,
                   code:0,
                 }
               });
             }


            }else{
              api.sendEvent({
                   name: 'say_status_loading',
                   extra:{
                     status:'失败',
                     code:0,
                   }
                 });
              vm.get_token();
           }
         })
      },
    },

  watch: {
        vip_card_index:{
           handler: function (val, oldVal) {
               console.log(val);
               vm.vip_card_id=vm.vip_card_list[val]['id'];
               vm.pay_price=vm.vip_card_list[val]['price'];
               console.log(vm.pay_price);
           }
        },
        vip_card_id:{
           handler: function (val, oldVal) {
             console.log(val);
             if(vm.card_id>0){
             vm.get_installments();
             }
           }
        },
        card_id:{
           handler: function (val, oldVal) {
               console.log(val);
             for(var i=0;i<vm.cardlist.length;i++){
               console.log(vm.cardlist[i]['id']);
               if(vm.cardlist[i]['id']==val){
                 vm.pay_name=vm.cardlist[i]['payment_method'].name+' •••• '+vm.cardlist[i]['last_four_digits'];
               }
             }
           },
         },
        installments:{
         handler: function (val, oldVal) {
               console.log(val);
                vm.send_need_info();
             },
         },
         installments_index:{
            handler: function (val, oldVal) {
            console.log(val);
			      vm.installments=vm.installments_list[val]['installments'];
			      vm.installments_select=vm.installments_list[val]['recommended_message'];
        },
	 	  },
     }
  });
    var dialogBox;
    apiready = function(){
        vm.init();
        api.parseTapmode();
        dialogBox = api.require('dialogBox');
        api.addEventListener({
            name: 'flush'
        }, function(ret, err){
            if( ret ){
                 console.log(JSON.stringify( ret ));
                   vm.init();
            }
        });

    }



    function add_new_card(){
      api.openWin({
          name: 'to_add_creditcard',
          url: '../card/add_card_win.html',
          pageParam: {
              // title:"我的订单",
              title:"Añadir una nueva tarjeta de crédito",

          }
      });
    }

    function input_cvv() {
      dialogBox.input({
    keyboardType: 'default',
    texts: {
        title: 'Security code',
        placeholder: '',
        // leftBtnTitle: '取消',``
        rightBtnTitle: '确定'
    },
    styles: {
        bg: '#fff',
        corner: 7,
        w: 300,
        h: 200,
        title: {
            h: 60,
            alignment: 'center',
            size: 14,
            color: '#000',
            marginT:10,
        },
        input: {
            h: 60,
            y:30,
            marginT:10,
            marginLeft: 10,
            marginRight:10,
            textSize: 14,
            textColor: '#000'
        },
        dividingLine: {
            width: 0.5,
            color: '#696969'
        },
        // left: {
        //     bg: 'rgba(5,2,6,8)',
        //     color: '#007FFF',
        //     size: 12
        // },
        right: {
            marginR: 30,
            bg: 'rgba(5,2,6,8)',
            color: '#007FFF',
            w: 135,                 //（可选项）数字类型；右边按钮的宽；默认：135
            h: 55,
            size: 12
        }
    }
}, function(ret) {
    if (ret.eventType == 'left') {
       dialogBox.close({
            dialogName: 'input'
        });
    }
    if (ret.eventType == 'right') {
        console.log(ret.text);
         cvv=ret.text;
         vm.go_Pay()
         dialogBox.close({
            dialogName: 'input'
          });
      }
     });
    }

    function closeWin(){
        api.closeWin({
        });
    }
</script>
</html>
