<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../../css/aui.css" />

    <style>
       #footer{
         height: 200px;

       }
       .aui-searchbar .aui-searchbar-btn{
         margin-right: -3.5rem;
         width: 3.5rem;
       }
    </style>
</head>
<body>
<div id="app">
  <header class="aui-bar aui-bar-nav" id="aui-header" >
    <a class="aui-btn aui-pull-left" tapmode onclick="closeWin()">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">Actividad de pico</div>
     <a class="aui-btn aui-pull-right" tapmode id="cart" style="margin-right:1rem;" onclick="open_cart()">
        <div class="aui-badge"  v-if="total_goods_sum > 0">{{ total_goods_sum }}</div>
        <span class="aui-iconfont aui-icon-cart"></span>
      </a>


  </header>
  <div class="aui-tab" id="tab" style="height:2.2rem;">
     <div class="aui-tab-item" :class="{'aui-active':index==cun_index}" @click="changemenu(index)" v-for="(vo,index) in list" tapmode>{{vo.name}}</div>
     <!-- <div class="aui-tab-item" onclick="groupindex(1)"><div></div>已使用</div>
     <div class="aui-tab-item" onclick="groupindex(2)">已过期</div> -->

 </div>
 </div>
</body>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript">
var vm = new Vue({
    el: '#app',
    data: {
      search_input: '',
      total_goods_sum:'',
      cun_index:0,
      list: [],
    },
    methods: {
     init:function(){
       vm.update_tatal_goods_sum();
       vm.getflashList();
       },
       getflashList:function(){

             api.ajax({
                 url: flashpage_url,
                 method: 'get',
                 timeout: 30,
                 dataType: 'json',
                 returnAll: false,
                 data: {
                     values: {
                         token: api.getPrefs({sync: true,key:'login_id'}),
                     }
                 }
             }, function (ret, err) {

                 if (ret) {
                   if(ret.code==1){
                     vm.list=ret.data.prom_list;
                     var frames=[];
                     for(var i=0;i<ret.data.prom_list.length;i++){
                       console.log(i);
                       frames.push({
                                 name: 'flash'+i,
                                 url: './flash_frm.html',
                                 bgColor : 'rgba(0,0,0,.2)',
                                 bounces:true,
                                 reload: true,
                                 pageParam:{
                                       'prom_id':ret.data.prom_list[i].prom_id
                                           },
                             });

                     }

                     openFrameGroup(0,frames);
                     console.log(frames.length)
                   }
                 } else {
                     api.alert(JSON.stringify(err));
                 }
             });
       },
       changemenu:function(index){
          groupindex(index);
       },
       update_tatal_goods_sum: function () {
           api.ajax({
               url: total_goods_sum_url,
               method: 'post',
               timeout: 30,
               dataType: 'json',
               returnAll: false,
               data: {
                   values: {
                       token: api.getPrefs({sync: true,key:'login_id'}),
                       deviceid: api.deviceId,
                   }
               }
           }, function (ret, err) {
               if (ret) {
                 console.log(JSON.stringify(ret))
                   if(ret.code == 1){
                       vm.total_goods_sum = ret.data.data.total_goods_sum;
                   }else{
                       vm.total_goods_sum = 0;
                   }
               } else {
                 // console.log(JSON.stringify(err))
                   api.alert(JSON.stringify(err));
               }
           });
       },

    } ,watch:{
        search_input:{
           handler: function (val, oldVal) {
             api.sendEvent({
                 name: 'send_keywords',
                 extra: {
                     keywords: val
                 }
             });
           }
        },
        },
   });
    apiready = function(){
        api.parseTapmode();
        var header = $api.byId('aui-header');

        $api.fixStatusBar(header);
        var headerPos = $api.offset(header);
        var body_h = $api.offset($api.dom('body')).h;
        var search = $api.byId('search');
        var searchPos = $api.offset(search);
        var frameHeight = api.frameHeight || '';
         vm.init();
        var box=document.getElementById('cart');
        console.log(box.getBoundingClientRect().top);
        console.log(box.getBoundingClientRect().left);

        //获取选中的关键字
        api.addEventListener({
            name: 'select_keywords'
        }, function(ret, err){
            if( ret ){
                searchBarInput.value = ret.value.keywords;
                searchBarClearBtn.style.display = 'block';
            }
        });
        //发送购物车的位置
       api.addEventListener({
            name: 'ask_top_cart_pos'
        }, function(ret, err){
          console.log('发送购物车位置')
          console.log(box.getBoundingClientRect().top+','+box.getBoundingClientRect().left)
          api.sendEvent({
              name: 'top_cart_pos',
              extra:{
                cart_top:box.getBoundingClientRect().top,
                cart_left:box.getBoundingClientRect().left
              }
           });
        });



        //更新购物车数量
       api.addEventListener({
           name: 'tatal_goods_sum'
       }, function(ret, err){
             vm.update_tatal_goods_sum();
       });
       //监听更新购物车命令
       api.addEventListener({
           name: 'update_cart_num'
       }, function(ret, err) {
           vm.update_tatal_goods_sum();
       });

    };


    function openFrameGroup(k,frames) {
      console.log($api.byId('tab').offsetHeight)
        api.openFrameGroup({
            name: 'flash_list',
            background: '#f4f4f4',
            scrollEnabled: true,
            preload: true,
            rect: {
                x: 0,
                y: $api.dom('header').offsetHeight + $api.byId('tab').offsetHeight,
                w: 'auto',
                h: 'auto'
            },
            index: k,
            frames: frames
        }, function (ret, err) {
            var index = ret.index;
            setFrameGroupStatus(index)
        });
    }
    function groupindex(index) {
        api.setFrameGroupIndex({
            name: 'flash_list',
            index: index,
            scroll: true
        });
        setFrameGroupStatus(index)
    }
    function setFrameGroupStatus(index) {
        var tab = document.getElementById('tab');
        var tablist = tab.getElementsByClassName("aui-tab-item");
        for (var i = 0; i < tablist.length; i++) {
            $api.removeCls(tablist[i], 'aui-active');
        }
        $api.addCls(tablist[index], 'aui-active');
    }

    function closeWin(){
        api.closeWin({
        });
    }
</script>
</html>
