<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../../css/aui.css" />
      <link rel="stylesheet" type="text/css" href="../../../css/home.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/aui-slide.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/iconfont/iconfont.css" />
    <style type="text/css">

    .aui-slide-node img {
        width: auto;
        height: 100%;
    }



  .cur{
    	color: #f64957;
    	font-style: normal;
    	font-size: 0.7rem;
    	height: 1rem;
    	line-height: 1rem;
    }
   .cur i{
    	font-style: normal;
    	font-size: 0.8rem;
    }
  .old{
    	color: #b8b8b8;
    	text-decoration: line-through;
    	font-size: 0.6rem;
    }

    .lkj{
    	font-size: 0.7rem;
    	display: inline-block;
    	color: #1bbc9b;
    }
	.aui-list  .aui-list-item:active{
	background:#ffffff;
	}

    </style>
</head>
<body>
<div  id="imageblock"></div>
  <div id="app">
   <section class="aui-refresh-content" v-if="timeer>0">
        <div class="aui-content">
			  <div class="aui-card-list">
			   <div class="aui-col-xs-6">
         <div class="aui-card-list-header aui-bg-danger" style="color:white"><span class="aui-font-size-16">Tiempo limitado</span >  <span class="aui-font-size-12 aui-hide" >En el chasquido</span ></div>
         </div>
	      <div class="aui-col-xs-6">
	        <div class="aui-card-list-header  ">
	    	    <span class="aui-font-size-16"> </span > <div class="aui-label aui-label-danger">{{hh}}</div>:<div class="aui-label aui-label-danger">{{mm}}</div>:<div class="aui-label aui-label-danger">{{ss}}</div>
      	  </div>
        </div>
       </div>
      </div>

    </section>
    <section class="aui-refresh-content">
        <div class="aui-content">
          <div class="aui-card-list">
             <div class="aui-card-list-header">
                <div>{{goods_info.goods_name}}</div>
                <i class="aui-iconfont aui-icon-share aui-font-size-20"  onclick="shareTo()"></i>
            </div>
            <div class="aui-card-list-content-padded" v-if="goods_info.selling_point">
                     {{goods_info.selling_point}}
              </div>
              <div class="aui-card-list-content-padded" style="display:flex;padding: 0.1rem 0.75rem;">
                        <div class="cur aui-font-size-18"><span>$</span> {{now_price}}  </div> <div class="old aui-margin-l-10 aui-font-size-16" v-if="origin_price!='0.00'"><span>$</span>{{origin_price}}</div>
                </div>
                <div class="aui-card-list-content-padded" style=" padding: 0.1rem 0.75rem;" v-if="vip_price!='0.00'">
                       <div class="lkj "  > <i class="iconfont iconvip aui-font-size-20"></i>   ${{vip_price}}</div>
                  </div>
             </div>
          </div>

    </section>

	<section class="aui-refresh-content aui-margin-b-10" v-if="coupon_list.length>0">
        <div class="aui-content">
			<ul class="aui-list aui-list-in aui-list-noborder">
            <li class="aui-list-item" tapmode="" onclick="open_get_coupon()">
             <div class="aui-list-item-inner">
                    <div class="aui-list-item-title  ">Cupón</div>
                    <div class="aui-list-item-right">       <i class="aui-iconfont aui-icon-more"></i></div>
                </div>
            </li>
           </ul>
          </div>

    </section>

   <section class="aui-content" v-if="comment_data_count>0">
        <ul class="aui-list aui-media-list">
		<li class="aui-list-item" v-for="(vo,index) in comment_data">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media"  style=" width: 2rem; ">
                      <img :src="vo.user.avatarUrl" style="border-radius: 50%;" v-if="vo.user.avatarUrl!=''"/>
                      <img src="../../../image/liulangnan.png" style="border-radius: 50%;" v-else />
                    </div>


                    <div class="aui-list-item-inner">
                      <div class="aui-list-item-text">
                          <div class="aui-list-item-text " style="color:#4c5276">
                            <img src="../../../image/icon/nice.png" style="width:30px" v-if="vo.score>0">
                            <img src="../../../image/icon/bad.png" style="width:30px" v-else>

                            <img src="../../../image/icon/nice.png" style="width:30px" v-if="vo.score>1">
                            <img src="../../../image/icon/bad.png" style="width:30px" v-else>

                            <img src="../../../image/icon/nice.png" style="width:30px" v-if="vo.score>2">
                            <img src="../../../image/icon/bad.png" style="width:30px" v-else>

                            <img src="../../../image/icon/nice.png" style="width:30px" v-if="vo.score>3">
                            <img src="../../../image/icon/bad.png" style="width:30px" v-else>

                            <img src="../../../image/icon/nice.png" style="width:30px" v-if="vo.score>4">
                            <img src="../../../image/icon/bad.png" style="width:30px" v-else>
                          </div>
                      </div>
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title" style="color:#4c5276">{{vo.user.nickName}}</div>

                            <div class="aui-list-item-right">{{vo.create_time}}</div>

                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2" style="color:#333;">
                            {{vo.content}}
                        </div>

                    </div>
                </div>
            </li>


        <li class="aui-list-item aui-margin-t-5" v-if="comment_data_count>2">
		 <div class="aui-card-list-footer aui-text-center">
                <div class="aui-btn  " style="  border-radius: 5rem; padding: 0 1rem;" @click="open_comment()">more({{comment_data_count}})</div>
            </div>

        </li>
        </ul>
    </section>
	<!--规格-->
  <section class="aui-refresh-content aui-margin-t-10">
  <div class="aui-content">
        <ul class="aui-list">
            <li class="aui-list-header">
                Especificación:
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner  "   >
					<!--净含量-->
                    <div class="aui-list-item-title   aui-font-size-12"  style=" color: #666; ">Contenido neto</div>
                    <div class="aui-list-item-right" style=" color: #666; ">{{per_unit}}g</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
						<!--保存条件-->
                            <div class="aui-list-item-title   aui-font-size-12"  style=" color: #666; ">Condición de ahorro</div>
                    <div class="aui-list-item-right" style=" color: #666; ">#00bcd4</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
					<!--保质期-->
                     <div class="aui-list-item-title   aui-font-size-12"  style=" color: #666; ">Vida útil</div>
                    <div class="aui-list-item-right" style=" color: #666; ">#00bcd4</div>
                </div>
            </li>

        </ul>
		</div>
    </section>

	<section class="aui-content aui-margin-t-10  ">
         <div class="aui-card-list">

            <div class="aui-card-list-content aui-padded-t-10  aui-padded-b-10">
                  <div class="controlimg" v-html="goods_info.content"></div>
            </div>

        </div>



    </section>

    <!--猜你喜欢-->

     <div class="cnxh">
       <div class="title"><span><i></i><b>Adivina lo que te gusta</b><i></i></span></div>
     <div class="aui-col-xs-12 goods-list">
     <ul class="aui-col-xs-6">

         <li  v-for="(goods,index) in like_goods_even" tapmode>
           <div class="item">
             <div  class="pic" v-on:click="to_goods_info(goods.goods_id)">
             <img :src="goods.image" alt=""  :id="forId(index,'like_even')"  />
              <div class="no" v-if="goods.stock_num==0">
                 <span>Fuera de stock</span>
               </div>
             </div>
             <h3 class="name">{{goods.goods_name}}</h3>
             <!-- <div class="tags">
               <span>{{goods.now_price.text}}</span>
             </div> -->
             <div class="price">
               <div class="txt">
                 <div class="cur"><span>$</span>{{goods.now_price.value}}   								<div class="old" v-if="goods.origin_price!='0.00'">${{goods.origin_price}}</div></div>

                 <div class="lkj" v-if="goods.vip_price!='0.00'"><span><i class="iconfont iconvip"></i>   </span style="font-size:0.9rem">${{goods.vip_price}}</div>
                 </div>

             </div>



           <div class="cart"  >

             <div class="aui-bar aui-bar-btn" style="width:80%;" type="count" id="demo" v-if="goods.cart_num==0">
               <div class="car-btn Increase "  @click="add_to_cart(index,'like_even')"   v-if="goods.stock_num>0"   >
               <i class="iconfont icongouwuchekong"></i>
               </div>
               <div class="car-btn Increase " style="color: #ddd;"   v-else>
                <i class="iconfont icongouwuchekong"></i>
              </div>
              </div>

            <div class="op-btn-item" v-else >
               <div class=" aui-col-xs-12">
                 <div class="op-btn minus  aui-col-xs-3" @click="cutdown_to_cart(index,'like_even')">
                     <i class="aui-iconfont aui-icon-minus"></i>
                 </div>
              <div class="aui-item-input aui-col-xs-6">
                   {{goods.cart_unit_num}}
              </div>
              <div class="op-btn plus  aui-col-xs-3"  @click="add_to_cart(index,'like_even')" v-if="goods.stock_num>goods.cart_num" >
                   <i class="aui-iconfont aui-icon-plus"></i>
              </div>
              <div class="op-btn plus  aui-col-xs-3" style="color: #ddd;"   v-else >
                  <i class="aui-iconfont aui-icon-plus"></i>
             </div>
              </div>
             </div>
             </div>
           </div>

         </li>

     </ul>
     <ul class="aui-col-xs-6">
       <li  v-for="(goods,index) in like_goods_odd" tapmode>
           <div class="item">
             <div  class="pic" v-on:click="to_goods_info(goods.goods_id)">
             <img :src="goods.image" alt=""  :id="forId(index,'like_odd')"  />
              <div class="no" v-if="goods.stock_num==0">
                 <span>Fuera de stock</span>
               </div>
             </div>
             <h3 class="name">{{goods.goods_name}}</h3>
             <!-- <div class="tags">
               <span>{{goods.now_price.text}}</span>
             </div> -->
             <div class="price">
               <div class="txt">
                 <div class="cur"><span>$</span>{{goods.now_price.value}}			<div class="old" v-if="goods.origin_price!='0.00'">${{goods.origin_price}}</div></div>

                 <div class="lkj" v-if="goods.vip_price!='0.00'"><span><i class="iconfont iconvip"></i>   </span style="font-size:0.9rem">${{goods.vip_price}} </div>
                 </div>

             </div>
         <div class="cart"  >

           <div class="aui-bar aui-bar-btn" style="width:80%;" type="count" id="demo" v-if="goods.cart_num==0">
             <div class="car-btn Increase "  @click="add_to_cart(index,'like_odd')"   v-if="goods.stock_num>0"   >
             <i class="iconfont icongouwuchekong"></i>
             </div>
             <div class="car-btn Increase " style="color: #ddd;"   v-else>
              <i class="iconfont icongouwuchekong"></i>
            </div>
            </div>

          <div class="op-btn-item" v-else >
             <div class=" aui-col-xs-12">
               <div class="op-btn minus  aui-col-xs-3" @click="cutdown_to_cart(index,'like_odd')">
                   <i class="aui-iconfont aui-icon-minus"></i>
               </div>
            <div class="aui-item-input aui-col-xs-6">
                 {{goods.cart_unit_num}}
            </div>
            <div class="op-btn plus  aui-col-xs-3"  @click="add_to_cart(index,'like_odd')" v-if="goods.stock_num>goods.cart_num" >
                 <i class="aui-iconfont aui-icon-plus"></i>
            </div>
            <div class="op-btn plus  aui-col-xs-3" style="color: #ddd;"   v-else >
                <i class="aui-iconfont aui-icon-plus"></i>
           </div>
            </div>
           </div>
           </div>

           </div>

         </li>





     </ul>
     </div>

     </div>
    <!--右侧固定-->
    <div class="fix-btn">
      <a class="kf" onclick="meiqia()" >	<i class="iconfont iconkefu5"></i></a>
      <a class="top"  onclick="returnToTop()"  v-if="scoll_H>100"><i class="iconfont iconUpward"></i></a>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../../script/aui-slide.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript" src="../../../script/aui-scroll.js"></script>
<script type="text/javascript">
var vm = new Vue({
    el: '#app',
    data: {
        is_ok:1,
        goods_id:0,
        goods_sku_id:0,
        goods_info:[],
        goods_sum:0,
        is_has: 1,
        per_unit:1,
        has_unit_num:0,

        units_info:[],
        unit:'',
        total_goods_sum:0,
        comment_data_count:0,
        comment_data:[],
        has_open_coupon:0,
        now_price:'',
        origin_price:'',
        vip_price:'',

        flash_countdown:0,
        is_flash:0,
        hh:0,
        mm:0,
        ss:0,

        timeer:0,
        coupon_list:[],
        scoll_H:0,

        like_goods:[],
        like_goods_even:[],
        like_goods_odd:[],
        like_goods_page:1,
        like_goods_has_more:1,


    },
    methods: {
        get_goods_info: function (goods_id) {
          api.ajax({
              url: goods_info_url,
              method: 'post',
              timeout: 30,
              dataType: 'json',
              returnAll: false,
              data: {
                  values: {
                      goods_id: goods_id,
                  }
              }
          }, function (ret, err) {
              //  console.log(JSON.stringify(ret))
              //   console.log(JSON.stringify(err))
              if (ret) {
                  if(ret.code == 0){
                      api.toast({
                          msg: ret.msg,
                          duration: 2000,
                          location: 'bottom'
                      });
                      api.closeWin();
                      return false;
                  }else{

                      vm.is_has = 1;
                      vm.goods_sum=1;
                      vm.goods_info = ret.data.detail;
                      vm.now_price=ret.data.detail['now_price']['value'];
                      vm.origin_price=ret.data.detail['origin_price'];
                      vm.vip_price=ret.data.detail['vip_price'];

                      console.log(ret.data.detail['category_id']);

                      vm.get_like_goods(ret.data.detail['category_id']);

                      if( ret.data.detail['now_price']['type']==1){

                        vm.is_flash=1;
                        vm.flash_countdown=ret.data.detail['prom']['status']['countdown'];

                        var temp_count = vm.flash_countdown;
                        vm.timeer = temp_count;
                        var coutnnum = setInterval(function () {
                            if(vm.timeer == 0){
                                clearInterval(coutnnum);
                                return;
                            }else{
                              vm.hh=parseInt(vm.timeer/3600);
                              vm.mm=parseInt((vm.timeer-vm.hh*3600)/60);
                              vm.ss=vm.timeer-vm.hh*3600-vm.mm*60;
                              vm.timeer -= 1;
                            }
                        },'1000');
                      }



                      vm.per_unit=ret.data.detail.per_unit;
                      vm.comment_data_count=ret.data.detail.comment_data_count;
                      vm.comment_data=ret.data.detail.comment_data;

                      //轮播
                      var images=ret.data.detail.image,imgs=[];
                      for (var i = 0; i < json_num(images); i++) {
                        imgs[i]=images[i].file_path;
                      }


                      banner(imgs,api.winWidth,api.winWidth);
                      if(vm.goods_info.per_unit!=0){
                        if(vm.goods_info.unit_name!=null)
                        {
                          vm.unit=vm.goods_info.unit_name;
                          vm.has_unit_num=(vm.goods_sum*vm.per_unit)+vm.goods_info.unit_name;

                        }
                        else
                         vm.has_unit_num=vm.goods_sum*vm.goods_info.per_unit
                      }else{
                          vm.has_unit_num=vm.goods_sum;
                      }


                  }

              } else {
                  api.alert(JSON.stringify(err));
              }
          });
        },
        get_like_goods:function(category_id) {
          console.log(api.getPrefs({sync: true,key:'login_id'}));
          if(vm.like_goods_has_more){
            api.ajax({
                url: like_goods_url,
                method: 'post',
                timeout: 30,
                dataType: 'json',
                returnAll: false,
                data: {
                    values: {
                        category_id: category_id,
                        page: vm.like_goods_page,
                        token: api.getPrefs({sync: true,key:'login_id'}),
                    }
                }
            }, function (ret, err) {
              // Log(api.getPrefs({sync: true,key:'login_id'}));
              Log(err);

              if (ret) {
                if (vm.like_goods_page == 1) {

                     var j=1;
                    for (var i = 0; i < ret.data.list.data.length; i++) {
                        if(j==1){
                        vm.like_goods_even.push(ret.data.list.data[i]);
                         j=0;
                        }else{
                        j=1;
                        vm.like_goods_odd.push(ret.data.list.data[i]);
                         }
                    }

                } else {
                        var j=1;
                    for (var i = 0; i < ret.data.list.data.length; i++) {
                      if(j==1){
                        j=0;
                        vm.like_goods_even.push(ret.data.list.data[i]);
                        }else{
                        j=1;
                        vm.like_goods_odd.push(ret.data.list.data[i]);
                        }
                    }
                }
                if( ret.data.list.current_page<ret.data.list.last_page){
                   vm.like_goods_page += 1;
                }else{
                    vm.like_goods_has_more=0;
                }
                console.log(vm.like_goods_has_more);
                    // console.log(JSON.stringify(ret));
                } else {
                    console.log(JSON.stringify(err));
                }

            });
          }

         },
        coupon_list:function(){
          api.ajax({
              url: coupon_url,
              method: 'post',
              timeout: 30,
              dataType: 'json',
              returnAll: false,
              data: {
                  values: {
                      only_receive: true,
                      token: api.getPrefs({sync: true,key:'login_id'}),

                  }
              }
          }, function (ret, err) {
               console.log(JSON.stringify(ret))
                console.log(JSON.stringify(err))
              if (ret) {

                  if(ret.code == 1){

                    vm.coupon_list=ret.data.list;

                  }

              } else {
                  api.alert(JSON.stringify(err));
              }
          });
        },
        to_goods_info:function (goods_id) {
          console.log(goods_id);
        open_goods_detail(goods_id);
        },
       add_goods_collect: function () {

            check_login();
            api.ajax({
                url: add_goods_collect_url,
                method: 'post',
                timeout: 30,
                dataType: 'json',
                returnAll: false,
                data: {
                    values: {
                        token: $api.getStorage('token'),
                        deviceid: api.deviceId,
                        goods_id: vm.goods_id

                    }
                }
            }, function (ret, err) {
                if (ret) {
                    api.toast({
                        msg: ret.msg,
                        duration: 2000,
                        location: 'bottom'
                    });
                } else {
                    api.alert(JSON.stringify(err));
                }
            });
        },
         open_meiQia:function () {
            var mq = api.require('meiQia');//配置初始化美洽需要的appkey
            var param = {
                appkey: "e78a9ab4b44c85c58856f99acb02c118"//初始化美洽
            };
            mq.initMeiQia(param, function(ret, err) {
                if (ret) {

                    //初始化成功
                    var titleColor = {
                        color: "#ffffff"//设置title以及按钮颜色
                    };
                    mq.setTitleColor(titleColor);
                    var titleBarColor = {
                        color: "#ffffff"//设置标题栏背景颜色
                    };
                    mq.setTitleBarColor(titleBarColor);
                    mq.show();
                } else {

                    alert(JSON.stringify(err));//初始化失败
                }
            })
        },
        forId:function(index,moudle){
          return moudle+'_'+index;
        },

        add_to_cart:function(index,moudle){
          console.log(moudle);

         var goodinfo;
         goodinfo=vm.getGoodsInof(index,moudle);


         if(is_login()){
           api.ajax({
               url: add_to_cart_url,
               method: 'post',
               data: {
                   values: {
                     token: api.getPrefs({sync: true,key:'login_id'}),
                     goods_id:goodinfo['goods_id'],

                     goods_num:1
                   }
               }
             },function(ret, err){
               if (ret) {
                  //  tishi(ret.msg);

                   if(ret.code==1){
                    var fly_img=goodinfo.image
                    var box=document.getElementById(moudle+'_'+index);
                    vm.fly_cart(fly_img,(box.getBoundingClientRect().left+box.getBoundingClientRect().right)/2,(box.getBoundingClientRect().top+box.getBoundingClientRect().bottom)/2);

                     //修改产品数量
                    vm.changeCartNum(index,moudle,ret.data.now_goods_num,ret.data.clc_now_goods_num);

                   api.sendEvent({
                       name: 'update_cart_num',
                   });
                   api.sendEvent({
                       name: 'update_cart_list',//更新购物车列表
                   });
                  //  api.sendEvent({
                  // 		 name: 'update_cart_list',//更新购物车列表
                  //  });

                }else{
                 tishi( ret.msg );
                  Log(ret);
                }

               } else {
                   alert( JSON.stringify( err ) );
                //  console.log(err.msg)
               }
             });
          }else{
            go_login();
         }
        },
        getGoodsInof:function(index,moudle){
          var goodinfo;
          if(moudle=='goods_list'){
            goodinfo=vm.goods_list[index];
          }

        //猜你喜欢
          if(moudle=='like'){
            goodinfo=vm.like_goods[index];
          }
          if(moudle=='like_even'){
            goodinfo=vm.like_goods_even[index];
          }
          if(moudle=='like_odd'){
           goodinfo=vm.like_goods_odd[index];
         }


         return goodinfo;
        },
        cutdown_to_cart:function(index,moudle){
          var goodinfo;
          goodinfo=vm.getGoodsInof(index,moudle);
         //特价

         if(is_login()){
           api.ajax({
               url: cutdown_to_cart_url,
               method: 'post',
               data: {
                   values: {
                     token: api.getPrefs({sync: true,key:'login_id'}),
                     goods_id:goodinfo['goods_id'],

                     deviceid: api.deviceId,
                   }
               }
             },function(ret, err){
               if (ret) {
                  //  tishi(ret.msg);

                   if(ret.code==1){
                     Log(ret);
                     //修改产品数量
                    vm.changeCartNum(index,moudle,ret.data.now_goods_num,ret.data.clc_now_goods_num);

                   api.sendEvent({
                       name: 'update_cart_num',
                   });
                   api.sendEvent({
                       name: 'update_cart_list',//更新购物车列表
                   });
                  //  api.sendEvent({
                  // 		 name: 'update_cart_list',//更新购物车列表
                  //  });

                   }

               } else {
                   alert( JSON.stringify( err ) );
                //  console.log(err.msg)
               }
             });
          }else{
            go_login();
         }
        },
        changeCartNum:function(index,moudle,num,unit_num){
          if(moudle=='goods_list'){
           vm.goods_list[index].cart_num=num;
           vm.goods_list[index].cart_unit_num=unit_num;
          }

          if(moudle=='like_even'){
           vm.like_goods_even[index].cart_num=num;
           vm.like_goods_even[index].cart_unit_num=unit_num;
           }
          if(moudle=='like_odd'){
           vm.like_goods_odd[index].cart_num=num;
           vm.like_goods_odd[index].cart_unit_num=unit_num;
           }


          },
        fly_cart:function (img,x,y){

          // var box=document.getElementById(moudle+'_'+index);

           //发送飞入的图片
          api.sendEvent({
              name: 'fly_img',
              extra: {
                  img: img
              }
           });
           // 询问购物车的位置
          if(cart_top==-1){
            console.log('询问购物车的位置')
            api.sendEvent({
                name: 'ask_top_cart_pos',
             });
          }
           api.bringFrameToFront({
           from: 'fly_frm',
           to: 'detail_top'
           });
           console.log('fly放到最前面')
          //打开飞入的窗口
          api.setFrameAttr({
              name: 'fly_frm',
              bounces: false,
              hidden:true,
              vScrollBarEnabled: false,
              hScrollBarEnabled: false,
              rect: {
                  x: x,
                  y: y,
                  w: 70,
                  h: 70
              },
          });
          vm.timeer=10;
          //初始化坐标
          var x1=x;
          var y1=y;

          //计算比例，以小的为参照
          var vx,vy,sx,sy;
          Log(cart_top);
            Log(cart_left);
          sy=cart_top-y+10;
          sx=cart_left-x-20;
          //sy 不可能等于0 的情况出现
          if(sx==0){
            vy=sy/Math.abs(sy);
          }else{
            vx=sx/vm.timeer;
            vy=(vx*sy)/sx;
          }
          // vm.timeer = temp_count;
          var coutnnum = setInterval(function () {
              if(vm.timeer == 0){
                    // api.closeFrame({
                    //   name: 'fly_frm'
                    // });
                    api.setFrameAttr({
                        name: 'fly_frm',
                        hidden:true,
                    });
                  clearInterval(coutnnum);
                  return;
              }else{
                        x1 += vx;
                        y1 += vy;
                        api.setFrameAttr({
                           name: 'fly_frm',
                           rect:{
                             x:x1,
                             y:y1,
                           }
                        });
                  vm.timeer -= 1;
              }
          },'100');

        },

    open_comment:function(){
      open_goods_comment(vm.goods_id);
    }
    }
});
   var winH;
  var slide ;
  var cart_top=-1,cart_left=-1;
   apiready = function(){
        api.parseTapmode();
	    	api.bringFrameToFront({
           from: 'detail_top',
           to: 'detail_frm'
           });

           var goods_id = api.pageParam.goods_id;
           vm.get_goods_info(goods_id);
           vm.coupon_list();
           winH=api.winWidth;

           document.getElementById('imageblock').innerHTML='<div style="width:'+winH+'px;height:'+winH+'px">'

             slide = new auiSlide({
               container:document.getElementById("aui-slide"),
               // "width":300,
               "height":api.winWidth,
               "speed":500,
               "autoPlay": 3000, //自动播放
               "loop":true,
               "pageShow":true,
               "pageStyle":'dot',
               'dotPosition':'center'
           });

        var scroll = new auiScroll({
            listen:true, //是否监听滚动高度，开启后将实时返回滚动高度
            distance:200 //判断到达底部的距离，isToBottom为true
          },function(ret){
        // console.log(ret.scrollTop);
        vm.scoll_H=ret.scrollTop;
        //  发生滚动条高度;
        api.sendEvent({
            name: 'detail_scoll_top',
            extra: {
              top: ret.scrollTop,
            }
          });
         });
    api.addEventListener({
          name: 'scrolltobottom',
          extra: {
           			hreshold: 0            //设置距离底部多少距离时触发，默认值为0，数字类型
           				}
        }, function (ret, err) {
          // console.log(JSON.stringify(ret));
      });

      // 询问购物车的位置
     if(cart_top==-1){
       console.log('询问购物车的位置')
       api.sendEvent({
           name: 'ask_top_cart_pos',
        });
     }
     //获取购物车的位置
     api.addEventListener({
         name: 'top_cart_pos'
     }, function(ret, err){
         if( ret ){
              console.log('获取购物车位置')
              console.log(JSON.stringify(ret))
              cart_top=ret.value.cart_top;
              cart_left=ret.value.cart_left;
         }
     });
	  }
    //优惠券领取
    function open_get_coupon(){
      //优惠券领取弹窗
      var height= api.winHeight;
      var frm_height=height/2;
      console.log(vm.has_open_coupon);
      if(vm.has_open_coupon==0){
        vm.has_open_coupon=1;
        api.openFrame({
                     name: 'couplist',
                     url: '../coupon/get_couplist_win.html',
                     bounces: false,
                     reload: true,
                     rect: {
                         x: 0,
                         y: 0,
                         w: 'auto',
                         h: 'auto',
                     },
                 })
        api.openFrame({
            name: 'couplist_frm',
            url: '../coupon/get_couplist_frm.html',
            bounces: false,
            rect: {
                  x: 0,
                  y: frm_height,
                  w: 'auto',
                  h: frm_height,
                  },
            });
        api.openFrame({
            name: 'get_couplist',
            url: '../coupon/get_couplist.html',
            bounces: false,
            rect: {
                x: 0,
                y: frm_height+45,
                w: 'auto',
                h: frm_height -45,
              },
            })

      }
       else{
         api.setFrameAttr({
             name: 'couplist',
             hidden:false,
             reload: true,
         });
         api.setFrameAttr({
             name: 'couplist_frm',
             hidden:false,
             reload: true,
             bounces: false,
         });
         api.setFrameAttr({
             name: 'get_couplist',
             hidden:false,
             reload: true,
         });
       }

    }

	  function shareTo() {
        console.log('2')
        var obj = api.require('pullMenu');
        var arrayPath = [
            {
                normal: 'widget://image/facebook.png',
                highlight: 'widget://image/facebook.png'
            },
            // {
            //     normal: 'widget://image/logo_wechatmoments.png',
            //     highlight: 'widget://image/logo_wechatmoments.png'
            // },
        ];
        obj.open({
            type: 'down',
            h: '200',
            alpha: '1',
            bgColor: '#F2F4F9',
            btnArray: arrayPath
        }, function (ret, err) {
          console.log(JSON.stringify(ret))
            if (ret.index == 0) {
                sharetoFacebook();
            }

        });
        if (api.systemType == 'ios') {
            obj.show();
        }
    }
    function sharetoFacebook(){
     var facebook = api.require('facebook');
     console.log(JSON.stringify(vm.goods_info));
   facebook.isInstalled(function(ret, err) {
       if (ret.installed) {
         facebook.shareLinked({
                 url: 'http://ps-arg.code688.com/download.html',
                 imgUrl: vm.goods_info.image[0]['file_path'],
                 description: vm.goods_info.selling_point,
                 title: vm.goods_info.goods_name,
                 quote: '水果商城'
             }, function(ret, err){
                  if(ret.status) {

                  } else {
                     tishi(err.msg);
                  }
            });

       } else {
           tishi('当前设备未安装facebook客户端');
       }
   });
   }
    function sharetoFriend() {

        //获取微信分享H5链接
        var shareUrl = goods_share_url + '/goods_id/' + vm.goods_id;
        var wx = api.require('wx');
        wx.isInstalled(function (ret, err) {
            if (ret.installed) {
                wx.shareWebpage({
                    apiKey: '',
                    scene: 'session',
                    title: '',
                    description: '',
                    thumb: 'widget://image/logo-icon-168.png',
                    contentUrl: shareUrl
                }, function (ret, err) {
                    if (ret.code) {
                        api.alert({
                            title: '微信分享',
                            msg: '微信分享成功',
                            buttons: ['确定']
                        });
                    } else {
                        api.alert({
                            title: '微信分享',
                            msg: '微信分享失败',
                            buttons: ['确定']
                        });
                    }
                });
            } else {
                api.alert({title: '提示', msg: '当前设备未安装微信客户端'});
            }
        });

    }
    function sharetoFriendCircle() {

        //获取微信分享H5链接
        var shareUrl = goods_share_url + '/goods_id/' + vm.goods_id;
        var wx = api.require('wx');
        wx.isInstalled(function (ret, err) {
            if (ret.installed) {
                //alert("当前设备已安装微信客户端");
                wx.shareWebpage({
                    apiKey: '',
                    scene: 'timeline',
                    title: '',
                    description: '',
                    thumb: 'widget://image/logo-icon-168.png',
                    contentUrl: shareUrl
                }, function (ret, err) {
                    if (ret.code) {
                        api.alert({
                            title: '微信分享',
                            msg: '微信分享成功',
                            buttons: ['确定']
                        });
                    } else {
                        api.alert({
                            title: '微信分享',
                            msg: '微信分享失败',
                            buttons: ['确定']
                        });
                    }
                });
            } else {
                api.alert({
                    title: '微信安装',
                    msg: '装个微信试试吧，',
                    buttons: ['确定']
                });
            }
        });

    }





</script>
</html>
