<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../../css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/public.css"/>
    <style>
        .aui-form {
            padding: 0 10px;
        }

        .aui-input-row:first-child:after {
            border-top: none;
        }

        .aui-btn-row:after {
            border-bottom: none;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="aui-form">
        <div class="aui-input-row">
            <label class="aui-input-addon">输入当前密码</label>
            <input type="password" class="aui-input" placeholder="输入当前密码" v-model="old_password"/>
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">输入新密码</label>
            <input type="password" class="aui-input" placeholder="输入新密码" v-model="new_password"/>
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">确认新密码</label>
            <input type="password" class="aui-input" placeholder="确认新密码" v-model="repassword"/>
        </div>
    </div>
    <div class="aui-btn-row">
        <div class="aui-btn aui-btn-block aui-btn-danger" tapmode v-on:click="updatepassword()">确认修改</div>
    </div>
</div>

</body>
</html>
<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript" src="../../../script/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            old_password: '',
            new_password: '',
            repassword: '',
        },
        methods: {
            updatepassword: function () {
                if (vm.old_password == '') {
                    api.toast({
                        msg: '请输入当前密码',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.new_password == '') {
                    api.toast({
                        msg: '请输入新密码',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.new_password.length < 6) {
                    api.toast({
                        msg: '密码不能少于6位数',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.new_password != vm.repassword) {
                    api.toast({
                        msg: '两次输入密码不一致',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                api.ajax({
                    url: updatePassword_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: $api.getStorage('token'),
                            old_password: vm.old_password,
                            new_password: vm.new_password,
                            repassword: vm.repassword
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                        if(ret.status == 1){
                            setTimeout(function () {
                                api.closeWin({
                                    name: 'member_cg_password'
                                });
                            }, 500);
                        }
                        console.log(JSON.stringify(ret));
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }
        }
    });
    apiready = function () {

    };

</script>
